#colorBox {
  height: 100vh !important;
  width: 100vw !important;
  overflow: hidden !important;
}
.color1 {
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
  top: 0px; /* animate positions top and left to move lights around*/
  left: 0px;

  transform: translate(-50%, -50%);

  animation: circle 5s linear infinite;

  background: radial-gradient(
    ellipse at center,
    rgba(30, 87, 153, 1) 0%,
    rgba(125, 185, 232, 0) 70%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@keyframes circle {
  0% {
    top: 0vh;
    left: 0vw;
  }
  25% {
    top: 100vh;
    left: 0vw;
  }
  50% {
    top: 100vh;
    left: 100vw;
  }
  75% {
    top: 0vh;
    left: 100vw;
  }
  100% {
    top: 0vh;
    left: 0vw;
  }
}
