.footer
{
	background-color: #262626;
	height: 200px;
	padding-top: 50px;
}
.footer p
{
	padding: 15px 0;
}
.footer p a
{
	color: #fff;
}
.footer p a:active,
.footer p a:hover
{
	color: #ffcf35;
	cursor: pointer;
}