*
{
	font-family: "Roboto Mono", sans-serif;
	margin: 0;
	color: #ddd;
}
.y-align
{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.left
{
	text-align: left;
}
.middle
{
	text-align: center;
}
.right
{
	text-align: right;
}